@model List<Sale>

@{
    ViewBag.Title = "Index";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-lg-9 grid-margin stretch-card">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title">Sale Table</h4>
                <a class="btn btn-success" asp-controller="sale" asp-action="create">Add Sale</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Percent</th>
                                <th>StartDate</th>
                                <th>FinishDate</th>

                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/assets/img/sale/@item.ImgUrl" width="90" height="70" alt="" />
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Desc</td>
                                    <td>@item.Percent</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.FinishDate</td>
                                    <td>
                                        <a class="btn btn-secondary" asp-controller="sale" asp-action="detail" asp-route-id="@item.Id">Detail</a>
                                        <a class="btn btn-primary" asp-controller="sale" asp-action="update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger" asp-controller="sale" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
