@using SoundSystemShop.Models
@model List<Product>

    @foreach (var product in Model)
{
    <div class="product col-lg-4 col-md-6 swiper-slide">
        <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id">
            <div class="product-img d-flex justify-content-center mt-5 mb-4">
                <img class="img-fluid w-100"
                 src="~/assets/img/product/@product.Images.FirstOrDefault().ImgUrl"
                 alt="" style="height:262.5px;">
            </div>
            <div class="product-name">
                <p class="text-center fw-bold text-dark mb-4 ">@product.Name</p>
            </div>
            <div class="rating" style="    width: fit-content;
    margin: auto;">
                @for (int i = 0; i < product.ProductRating; i++)
                {
                    <i class="fa-solid fa-star text-warning"></i>
                }
            </div>
            <div class="product-price d-flex justify-content-around align-items-center">
                <div class="discount">
                    @if (product.InDiscount)
                    {
                        <span style="text-decoration:line-through solid red;font-weight:normal"
                      class="text-dark">
                            <small class="azn_span text-dark">$</small> @product.Price.00
                        </span>
                        <br>
                        <span class="nprice text-danger fw-bold" id="price-1060446">
                            <small class="azn_span fw-normal">$</small> @product.DiscountPrice.00
                        </span>
                    }
                    else
                    {
                        <span style="font-weight:normal"
                      class="text-dark">
                            <small class="azn_span text-dark">$</small> @product.Price.00
                        </span>
                    }

                </div>
                <a class="btn-add-to-cart mt-2 border-0 text-light minusIcon" data-id="@product.Id"
               style="background-color: black; font-size: 14px; font-weight: bold; padding: 5px 13px; border-radius: 3px; cursor:pointer;">
                    Add Basket
                </a>
            </div>
        </a>
    </div>
}



